<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FriendEscape</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Princess+Sofia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
    <header class='main__header'>
        <img class='main__logo' src='FriendEscape.png'>
        <div class='main__username'>
        <span>Welcome {username} </span>
        <i class="fas fa-sign-out-alt"></i>
        </div>
    </header>

    <section class='escapesroom'>

        <div class="escapesroom__item">           
            <img src='unnamed.jpg'>
        </section>
        <h1>Join a group</h1>
        <h1>Title</h1>
        <p>Date</p>
        <i class="fas fa-coins"></i><span>Price</span>
        <i class="fas fa-clock"></i><span>Time</span>
        <i class="fas fa-lock"></i><i class="fas fa-lock"></i><i class="fas fa-lock"></i> <span>Difficulty</span>
        <p>Location</p>
        <p>Publisher</p>
        <p>Theme</p>
        <p>Min Players</p>
        <p>Max Players</p>
        <p>State</p>
       
    </div>

</section>
<section class="joinus__caution">
        <p>Read carefully these instructions. If you press Join us you will be a new member of the group. If you are a show off you will receive a fault. If you commit 3 faults you will be banned.</p>
        <button>Join us</button>
        <button>I have to think about that</button>
</section>
     
</body>
<!-- Component Footer -->

<footer>
    <h3>FriendEscape</h3>
    <h4> Escape or die, but in good company</h4>
</footer>

<!-- Component escapesroom -->
         