.landing
    &__title
        font-size: 2rem
        text-shadow: 2px 2px 3px #eee
        text-align: center
        margin-top: 5rem
    &__figure
        text-align: center
    &__image
        max-width: 100%
        height: auto
    &__actions
        text-align: center
        
.errorMessage
    width: 90%
    padding: 15px
    position: relative
    border-left: 8px solid #BABABA
    background: #EDEDED
    color: #A1A1A1
    border-radius: 4px
    display: flex
    justify-content: start
    align-items: center
    font-size: 16px
    transition: 0.5s ease-in-out
    visibility: visible
    opacity: 1
    height: auto
    overflow: hidden
    animation-name: showAlert
    animation-duration: 0.5s
    animation-fill-mode: both
    animation-delay: 0.4s
    border-color: #FF4757
    background: #FFE0E3
    color: #FF4757
    margin: 0 auto
    max-width: 600px
    &__icon
        margin-right: 10px
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        font-size: 20px
    &__content
        width: 100%
        line-height: 1.5