<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FriendEscape</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Princess+Sofia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>

    <header className='main__header'>
        <img className='main__logo' src='FriendEscape.png'>
        <div className='main__username'>
        <span>Welcome {username} </span>
        <i className="fas fa-sign-out-alt"></i>
        </div>
    </header>

    </nav>
    <h1>Create a group</h1>

      
        <section className='detailcreategroup'>
            <h4> Title</h4>
            <select name="transporte">
            <option>Room Escape 1</option>
            <option>Room Escape 2</option>
            <option>Room Escape 3</option>
        </select>

        <h4> Date </h4>.
        ++++0
        <div className="">.</div>
        <h4> Time </h4>
        <h4> Location </h4>
        <img src='unnamed.jpg'>
        <h4>Min players</h4>
        <h4>Max players</h4>
        <h4>Rules</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis hic in voluptates, mollitia incidunt nihil consequatur velit numquam ea fugit totam voluptatum vitae dolore doloremque officia provident quam debitis a.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quia, explicabo, ad ipsa nesciunt iusto quo fugiat quae consequatur odit adipisci ducimus accusamus itaque repellendus tempore accusantium harum doloremque deserunt! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut veniam et impedit qui, nam atque! Ut cum impedit commodi ipsam qui! Totam doloremque minima iusto sit, aut officia eaque ipsam!</p>
            
</section>
      
<footer>
        <h3>FriendEscape</h3>
        <h4> Escape or die, but in good company</h4>.
</footer>


  