<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FriendEscape</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Princess+Sofia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>

<form className='main'>

    <header className='main__header'>
        <img className='main__logo' src='FriendEscape.png'>
        <div className='main__username'>
        <span>Welcome {username} </span>
        <i className="fas fa-sign-out-alt"></i>
        </div>
    </header>

    </nav>

        <section className='detail'>
            <h1>Title</h1>
            <p>Location</p>
            <p>Theme</p>
            <p>Min Players</p>
            <p>Max Players</p>
            <p>Description</p>
            <i className="fas fa-clock"></i><span>Time</span>
            <i className="fas fa-coins"></i><span>Price</span>
            <i className="fas fa-lock"></i><i className="fas fa-lock"></i><i className="fas fa-lock"></i> <span>Difficulty</span>
            <img src='unnamed.jpg'>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quia, explicabo, ad ipsa nesciunt iusto quo fugiat quae consequatur odit adipisci ducimus accusamus itaque repellendus tempore accusantium harum doloremque deserunt!</p>
            <p> Do you wnat to book?</p>
            <a href="{escaperoom.web}">Book</a>
        </section>

        <section className="creategroup">
<p> Are you interested in this escape room? Don't hesitate and create a group</p>
<button>Create a group</button>
<img src='group.jpg'>
        </section>

        <section className="joingroup">
            <p> There's a group next {event.date} at {event.time} for play this escape room. Do you want to join them?
            </p>
            <img src="joinus.jpg">
            <button>Join a Group</button>
                    </section>
        

<footer>
        <h3>FriendEscape</h3>
        <h4> Escape or die, but in good company</h4>
        
</footer>


  