<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FriendEscape</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Princess+Sofia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>

        <header className='main__header'>
            <img className='main__logo' src='FriendEscape.png'>
            <div className='main__username'>
            <span>Welcome {username} </span>
            <i className="fas fa-sign-out-alt"></i>
            </div>
        </header>

        <nav className='main__nav'>
            <i className="fas fa-bars"></i>
            <input type="text">
            <i className="fas fa-search"></i>   
        </nav>

            <section className='main__groups'>
                <span> Do you want to live one adventure but you don't know who will be as brave as you? <br>
                Join one of our groups or create a new one and... Show must go on!!</span>
                <button> Join one of our groups</button>
                <button> Create a Group </button>
                <img src='group.jpg'>
            </section>

<!-- Component escapesroom -->
        <section className='escapesroom'>
                <h1> Escapes Rooms</h1>
                <section className="escapesroom__item">
                    <img src='unnamed.jpg'>
                    <p>Title</p>
                    <p>Location</p>
                    <p>Theme</p>
                    <p>Difficulty</p>
                    <p>Price</p>
                </section>

                <section className="escapesroom__item">
                    <img src='unnamed.jpg'>
                    <p>Title</p>
                    <p>Location</p>
                    <p>Theme</p>
                    <p>Difficulty</p>
                    <p>Price</p>
                </section>

                <section className="escapesroom__item">
                    <img src='unnamed.jpg'>
                    <p>Title</p>
                    <p>Location</p>
                    <p>Theme</p>
                    <p>Difficulty</p>
                    <p>Price</p>
                </section>
        </section>
        </form>

    <!-- Component Footer -->
        <footer>
            <h3>FriendEscape</h3>
            <h4> Escape or die, but in good company</h4>
        </footer>
 

      